Mac OS X
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-v100
.Trasehs
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Build
Build/

# Sublime Text
*.sublime-workspace

# Qt Creator
CMakeLists.txt.user

